@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}


@layer components {
    .pagination-item {
        @apply flex items-center justify-center text-gray-700 bg-gray-100 border border-gray-300 text-sm w-9 h-9 font-medium;
    }

    .pagination-item:hover {
        @apply bg-gray-200 text-gray-900;
    }

    .pagination-item:focus {
        @apply outline-none ring-2 ring-gray-300;
    }

    .pagination-item-active {
        @apply bg-black text-white border-black;
    }

    .pagination-item-disabled {
        @apply opacity-50 cursor-not-allowed;
    }
}
